{% extends "layout.html" %}

{% block content %}
    <body>
    <form method="POST" action="#" class="selector">
        <div class="selector-items">
            <label for="sorting-doctors"></label>
            <select name="select" id="sorting-doctors">
                <option selected disabled>Sorting by</option>
                <option value="seniority">Seniority</option>
                <option value="name">Full name</option>
                <option value="clients">Amount of clients</option>
            </select>

            <label for="doctors-specialty"></label>
            <select name="select" id="doctors-specialty">
                <option selected disabled>Specialty</option>
                <option value="therapist">Therapist</option>
                <option value="orthopedist">Orthopedist</option>
                <option value="surgeon">Surgeon</option>
                <option value="radiologist">Radiologist</option>
            </select>
        </div>

        <div>
            <input type="submit" value="Submit" class="submit-button">
        </div>
    </form>

    <div class="patients-list">
        {% for doctor in doctors %}
            <div class="patient-in-list">
                <p class="full-name-in-list">{{ doctor["full_name"] }}, {{ doctor["specialty"] }}</p>
                <div class="item-buttons-in-list">
                    <a href="{{ url_for('doctor_routes.info', doctor_id=doctor['doctor_id']) }}" class="open-button">Open</a>
                    <a href="{{ url_for('doctor_routes.delete', doctor_id=doctor['doctor_id']) }}" class="delete-button">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}