{% extends "layout.html" %}

{% block content %}
    <body>
    <div class="person-info-window">
        <div class="doctor-info">
            <div class="left-info-doc-part">
                <p>{{ doctor['full_name'] }}, {{ doctor['specialty'] }}</p>
                <p>Seniority: {{ doctor['seniority'] }} years</p>
                <p>Email: {{ doctor['email'] }}</p>
                <p>Phone number: +38{{ doctor['phone_number'] }}</p>
                <form action="{{ url_for('doctor_routes.info', doctor_id=doctor['doctor_id']) }}" method="POST">
                    <div class="kalendar-block">
                        <label for="date_from">Choose date from:</label>
                        <input id="date_from" name="date_from" type="date" class="kalendar"
                               data-date-inline-picker="true">
                    </div>

                    <br>
                    <div class="kalendar-block" style="margin-top: -0.2rem;">
                        <label for="date_to">Choose date to:</label>
                        <input id="date_to" name="date_to" type="date" class="kalendar"
                               data-date-inline-picker="true">
                        <input class="submit-button" type="submit" value="Search">

                    </div>
                </form>

            </div>

            <div class="right-info-doc-part">
                <p>Amount of patients: {{ patients|length }}</p>
                <div class="appointed-patients-list">
                    {% for patient in patients %}
                        <a href="{{ url_for('patient_routes.info', patient_id=patient['patient_id']) }}">{{ patient['full_name'] }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="control-panel buttons-doctor-info">
            <a href="{{ url_for('doctor_routes.doctor_index') }}" class="back-button">Back</a>
            <a href="{{ url_for('doctor_routes.edit', doctor_id=doctor['doctor_id']) }}" class="edit-button">Edit</a>
            <a href="{{ url_for('doctor_routes.delete', doctor_id=doctor['doctor_id']) }}"
               class="delete-button delete-info">Delete</a>
        </div>
    </div>
    </body>
{% endblock %}