<header>
    <div class="nav">
        <object data="../static/images/lightbulb.svg" width="45"></object>
        <a href="{{ url_for('doctor_routes.doctor_index') }}"
           class="nav-link {% if request.url.split('/')[request.url.split('/') | length - 1]|int == 0 and url_for(request.endpoint) == '/doctors' %} active-link {% endif %}">Doctors</a>
        <a href="{{ url_for('patient_routes.patient_index') }}"
           class="nav-link {% if request.url.split('/')[request.url.split('/') | length - 1]|int == 0 and url_for(request.endpoint) == '/patients' %} active-link {% endif %}">Patients</a>
    </div>
    {% if request.url.split("/")[request.url.split("/") | length - 1] != 'add' %}
        {% if request.url.split("/")[request.url.split("/") | length - 1]|int == 0 %}
            <a href=" {% if url_for(request.endpoint) == '/doctors' %} {{ url_for('doctor_routes.add') }}
{% elif url_for(request.endpoint) == '/patients' %} {{ url_for('patient_routes.add') }} {% endif %}"
               class="add nav-link">Add</a>
        {% endif %}
    {% endif %}

</header>